
    /* Header */

    .container .top {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }

    .container .top img {
        width: 200px;
    }

    .container .top input {
        width: 300px;
    }
        
    .search i{
        top: 25px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 240px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transition: 0.3s;
        display: unset;
    }

    .nav-menu.active {
        left: 0;
        background-color: var(--white2);
        position: absolute;
    }

    .nav-item {
        margin: 10px 20px;
    }

    .nav-item > .active {
        background-color: var(--grey1);
        color: var(--white2);
        display: block;
        padding: 10px 15px;
        width: auto;
    }

    .nav-link {
        display: block;
        padding: 10px 15px;
        width: auto;
    }

    .nav-link:hover {
        background-color: var(--grey1);
        color: var(--white2);
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color: var(--white1);
        padding: 5px 8px;
        border-radius: 2px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Banner */
    .container .banner {
        background-image:url(../img/screencapture-kelas-sekolahpintar-2021-12-06-00_36_31.webp);
    }

    /* Highlight */

    .highlight-wrapper {
        margin: 0;
        padding: 20px;
    }

    .highlight-1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .highlight-1 .item-1 { 
        grid-area: 2 / 1 / 3;
    }

    .highlight-1 .item-1 img {
        width: 100%;
    }

    .highlight-1 .item-2 p {
        text-align: left;
    }

    .highlight-1 .item-3 { 
        text-align: left;
    }

    .highlight-1 .item-3 ul {
        padding-left: 30px;
    }

    .highlight-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .highlight-2 .item-1,
    .highlight-5 .item-1 {
        text-align: left;
    }

    .highlight-2 .item-1 .text h1,
    .highlight-5 .item-1 .text h1 {
        padding: 10px 0;
    }

    .highlight-3 {
        padding: 0;
    }

    .highlight-3 .item-1 {
        text-align: left;
    }

    .highlight-3 .item-3 a {
        width: 100%;
        padding: 15px 0;
    }

    .highlight-4 .item-1 {
        text-align: left;
        gap: 20px;
        padding: 0;
    }

    .highlight-5 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 0;
    }

    .highlight-6 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .highlight-6 .item-1 img {
        width: 100%;
    }

    /* Course */

    .courses-wrapper {
        margin: 0 auto;
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .class-1,
    .class-2,
    .class-3,
    .class-4,
    .class-5,
    .class-6 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .class-span {
        display: flex;
        justify-content: space-between;
    }

    .courses-button a {
        padding: 15px 0;
    }

    /* Footer */

    .container-footer .top-footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 20px;
    }

    .top-footer .center-text {
        padding: 30px 0;
    }

    .top-footer .center-text img {
        width: 70%;
        margin: 0 auto;
    }
    
    .top-footer .right-text {
        text-align: left;
    }

    .bottom-footer {
        text-align: center;
    }

    .bottom-footer {
        border-top: var(--white2) 1px solid;
    }