* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
}

span {
    color: #55595c;
}

p, li {
    color: #606060;
}

p,
li,
span,
a {
    font-size: 16px;
}

/* Header */

.container .top {
    margin: 20px 80px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.container .top img {
    width: 250px;
}

.container .top input {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #E8E8E8;
}

input[type=text]{ 
    width: 100%; 
    padding: 12px 40px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 

.search {
    position: relative;
}
    
.search i{
    position: absolute;
    left: 15px;
    top: 22px;
    color: #55595c;
}

/* Nav */

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 16px 24px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-left: 32px;
}

.nav-item > .active {
    border-bottom: #55595c 2px solid;
}

.nav-link {
    color: #000;
    font-weight: 800;
    padding: 5px 0;
}

.nav-link:hover {
    color: #1bb2f3;
    border-bottom: #55595c 2px solid;
}

/* Banner */
.container .banner {
    background-image: url(./img/screencapture-kelas-sekolahpintar-2021-12-06-00_35_44.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

/* Highlight */

.highlight-wrapper {
    margin: 20px 80px;
}

.highlight-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.highlight-1 .item-1 { 
    grid-area: 1 / 1 / 3 / 2;
}

.highlight-1 .item-2 { 
    color: #179fe9;
    display: flex;
    align-items: center;
}

.highlight-1 .item-2 p {
    margin: 0;
    text-align: center;
}

.highlight-1 .item-3 {
    font-weight: 600;
}

.highlight-1 .item-3 p {
    margin: 0;
}

.highlight-1 .item-3 ul {
    padding-left: 50px;
}

.highlight-1 .item-3 ul li a {
    text-decoration: none;
    color: #606060;
}

.highlight-1 .item-3 ul li a:hover {
    color: #dc3545;
}

.highlight-2 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.highlight-2 .item-1,
.highlight-5 .item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.highlight-2 .item-2 img,
.highlight-5 .item-2 img {
    width: 100%;
    border-radius: 10px;
}

.highlight-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    padding: 0 200px;
}

.highlight-3 .item-1 {
    text-align: center;
    color: #2ccbf2;
}

.highlight-3 .item-3 i,
.courses-button i,
.class-span i {
    padding-right: 5px;
}

.highlight-3 .item-3 a {
    display: block;
    margin: 60px 0;
    background-color: #5bc0de;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


.highlight-4 .item-1 {
    text-align: center;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.highlight-5 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.highlight-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.highlight-6 .item-2 { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


/* Course */

.courses-wrapper {
    margin: 50px 80px 0px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}

.class-1,
.class-2,
.class-3,
.class-4,
.class-5,
.class-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    align-items: center;
}

.class-1 img,
.class-2 img,
.class-3 img,
.class-4 img,
.class-5 img,
.class-6 img {
    width: 100%;
    border-radius: 5px;
}

.class-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.class-txt p {
    font-weight: 800;
}

.courses-button a {
    display: block;
    margin: 60px 0;
    background-color: #5bc0de;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.courses-button a:hover {
    transform: scale(1.1);
    background-color: #007bff;
}

.class-span i {
    color: #dc3545;
}

/* Footer */

.container-footer {
    background-color: #55595c;
    height: fit-content;
}

.container-footer div p {
    color: #fff;
}

.container-footer .top-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding: 50px 50px 20px 50px;
}

.top-footer .left-text {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 20px;
}

.top-footer .center-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
}

.top-footer .right-text {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.bottom-footer {
    display: flex;
    flex-direction:column;
    padding: 20px 0; 
}

.bottom-footer p {
    margin: 0 auto;
}



/* MEDIA QUERIES */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Header */

    .container .top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }

    .container .top img {
        width: 200px;
    }

    .container .top input {
        width: 300px;
        height: 50px;
    }
        
    .search i{
        top: 25px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 240px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transition: 0.3s;
        display: unset;
    }

    .nav-menu.active {
        left: 0;
        background-color: #fff;
        position: absolute;
    }

    .nav-item {
        margin: 10px 20px;
    }

    .nav-item > .active {
        background-color: #55595c;
        color: #fff;
        display: block;
        padding: 10px 15px;
        width: auto;
    }

    .nav-link {
        display: block;
        padding: 10px 15px;
        width: auto;
    }

    .nav-link:hover {
        background-color: #55595c;
        color: #fff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-color: #e8e8e8;
        padding: 5px 8px;
        border-radius: 2px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Banner */
    .container .banner {
        background-image:url(./img/screencapture-kelas-sekolahpintar-2021-12-06-00_36_31.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
    }

    /* Highlight */

    .highlight-wrapper {
        margin: 0;
        padding: 20px;
    }

    .highlight-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .highlight-1 .item-1 { 
        grid-area: 2 / 1 / 3;
    }

    .highlight-1 .item-1 img {
        width: 100%;
    }

    .highlight-1 .item-2 { 
        display: flex;
    }

    .highlight-1 .item-2 p {
        text-align: left;
        font-size: 24px;
    }

    .highlight-1 .item-3 { 
        font-size: 16px;
        text-align: left;
    }

    .highlight-1 .item-3 ul {
        padding-left: 30px;
    }

    .highlight-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .highlight-2 .item-1,
    .highlight-5 .item-1 {
        text-align: left;
    }

    .highlight-2 .item-1 .text h1,
    .highlight-5 .item-1 .text h1 {
        padding: 10px 0;
    }

    .highlight-3 {
        display: flex;
        padding: 0;
    }

    .highlight-3 .item-1 {
        text-align: left;
    }

    .highlight-3 .item-3 a {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .highlight-4 .item-1 {
        text-align: left;
        gap: 20px;
        padding: 0;
    }

    .highlight-5 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 0;
    }

    .highlight-6 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .highlight-6 .item-1 img {
        width: 100%;
    }

    .highlight-6 .item-2 { 
        font-size: 28px;
        display: flex;
    }

    .highlight-6 .item-2 span {
        font-size: 16px;
    }

    /* Course */

    .courses-wrapper {
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .class-1,
    .class-2,
    .class-3,
    .class-4,
    .class-5,
    .class-6 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .class-span {
        display: flex;
        justify-content: space-between;
    }

    .courses-button a {
        width: 200px;
        padding: 15px 0;
    }

    /* Footer */

    .container-footer {
        background-color: #55595c;
        color: #E8E8E8;
        height: fit-content;
    }

    .container-footer .top-footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 20px;
    }

    .top-footer .left-text {
        display: flex;
        text-align: left;
    }

    .top-footer .center-text {
        text-align: center;
        gap: 20px;
        padding: 30px 0;
    }

    .top-footer .center-text img {
        width: 100%;
    }
    
    .top-footer .right-text {
        text-align: left;
        gap: 20px;
    }

    .bottom-footer {
        text-align: center;
    }

    .bottom-footer {
        border-top: #fff 1px solid;
    }
}
